/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.image-gallery, .video-gallery {
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.image, .video {
    margin-bottom: 20px;
    cursor: pointer;
}

.image img {
    max-width: 100%;
    border: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
}

.image img:hover {
    transform: scale(1.05);
}

.video video {
    max-width: 100%;
    display: block;
    border: 1px solid #ccc;
}



